/* Hide ErrorPages from CMS */
li.class-ErrorPage {
	display: none !important;
}

/* Gray out Pages hidden from menus */
.notinmenu > a {
	color: #89878b !important;
}

/* Dashboard Colour Tweaks */
.dashboard-panel .dashboard-panel-header {
	background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#f8f8f8),to(#d5e1e8)) !important;
	background-image: -moz-linear-gradient(0% 100% 90deg,#f8f8f8,#d5e1e8) !important;
}

.dashboard-panel-footer {
	background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#f8f8f8),to(#d5e1e8)) !important;
	background-image: -moz-linear-gradient(0% 100% 90deg,#f8f8f8,#d5e1e8) !important;
}

/* Fixes extra margin on HTMLEditor Right Title labels */
.htmleditor.field label.right {
	margin-left: 0;
}

/* Aligns UploadField with other normal fields! */
.ss-uploadfield .middleColumn {
	float: left !important;
	clear: none !important;
}

.ss-uploadfield .description {
	padding-top: 4px !important;
	margin-left: 184px !important;
}

/* Hides Pages that can't be created in Add page list */
#Form_AddForm_PageType li.disabled { 
    display: none !important;
}

/* Apply .nofullwidth class to an HTMLEditorField to make it align with standard fields */
.htmleditor.nofullwidth .middleColumn {
  margin-left: 184px;
  clear: none;
}

/* Misc SS 3.3 CMS Tweaks */

/* Makes CMS Tab Text Larger - Increases clarity of heirarchy */
.ui-tabs .ui-tabs-nav li a {
	font-size: 14px;
}

/* Set background of SiteTree pane to differ from Editor pane */
.cms-content-tools {
	background: #F0F2F4;
}

/* Sets SiteTree item hover BG to nicer white, instead of odd blue */
.jstree-apple .jstree-clicked, .jstree-apple .jstree-hovered {
	background: #FDFDFD;
}

/* Knocks back the breadcrumbs / separator to a lighter colour */
.breadcrumbs-wrapper .sep {
	color: #A6A9AB;
}

/* Improve spacing between breadcrumbs and current page name */
.has-panel .breadcrumbs-wrapper {
	padding-top: 4px;
}

.breadcrumbs-wrapper .sep + .crumb.last {
	padding-top: 3px;
}